[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment Homework7Attributes.docx [Word] 13 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=526c4343f5&attid=0.1&permmsgid=msg-a:r-7078344958352975746&th=16ae79c214ae1876&view=att&disp=safe&realattid=f_jw1g99qa0
Icon=text-html
